<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/log/home">Home</a></li>
        <li routerLinkActive="active"><a href="#">Competencias</a></li>
        <li routerLinkActive="active"><a routerLink="/log/teams">Equipos</a></li>
        <li routerLinkActive="active"><a href="#">Partidos</a></li>
        <li routerLinkActive="active"><a routerLink="/log/clasification">Clasificacion</a></li>
      </ul>
    </div>
  </nav>