<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <div>
        <li style="list-style: none;">
          <img src="../../../assets/round-account-button-with-user-inside_icon-icons.com_72596.svg" 
          alt="usuario.svg"
          style="width: 20%; vertical-align: middle;">
          <a style="margin-left: 0.5rem;">{{ getNombre() }}</a>
        </li>
      </div>
      <mat-nav-list>
        <a class="ancorNav" mat-list-item [routerLink]="['/log/home']" routerLinkActive="active" (click)="active('home')">Home</a>
        <a class="ancorNav" mat-list-item [routerLink]="['/log/competition']" routerLinkActive="active" (click)="active('competition')">Competencias</a>
        <a class="ancorNav" mat-list-item [routerLink]="['/log/teams']" routerLinkActive="active" (click)="active('teams')">Equipos</a>
        <a class="ancorNav" mat-list-item [routerLink]="['/log/matches']" routerLinkActive="active" (click)="active('matches')">Partidos</a>
        <a class="ancorNav" mat-list-item [routerLink]="['/log/clasification']" routerLinkActive="active" (click)="active('clasification')">Clasificacion</a>
      </mat-nav-list>
      <br>
      <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
    </ul>
  </div>
</nav>
