.nav{
    height: 100vh;
    width: 190px;
    padding: 15px 30px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: -2rem;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    border: 0.1rem rgb(0, 255, 128) solid;
    background-color: rgb(245, 247, 245);
}

div, h1, nav, ul, li, a{
    background-color: inherit;
    margin-top: 30px;
}

a{    
    text-decoration: none;
    font-size: large;
    padding: 5px;
}

li{
    transition: 0.3s;
}

li:hover{
    transform: scale(1.1);
    background-color: var(--temaColor);
}

a:hover{
    color: green;
}

.active{
    border-radius: 1rem;
    background-color: white;
}