<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <img src="../../../assets/round-account-button-with-user-inside_icon-icons.com_72596.svg" 
        alt="usuario.svg"
        style="width: 30%;">
        <a>{{ nombre }}</a>
      </li>
      <li [ngClass]="{'active': activeNavItem === 'home'}">
        <a (click)="active('home')" routerLinkActive="active" routerLink="/log/home" class="anchor">Home</a>
      </li>
      <li [ngClass]="{'active': activeNavItem === 'competition'}">
        <a (click)="active('competition')" routerLinkActive="active" routerLink="/log/competition" class="anchor">Competencias</a>
      </li>
      <li [ngClass]="{'active': activeNavItem === 'teams'}">
        <a (click)="active('teams')" routerLinkActive="active" routerLink="/log/teams" class="anchor">Equipos</a>
      </li>
      <li [ngClass]="{'active': activeNavItem === 'matches'}">
        <a (click)="active('matches')" routerLinkActive="active" routerLink="/log/matches" class="anchor">Partidos</a>
      </li>
      <li [ngClass]="{'active': activeNavItem === 'clasification'}">
        <a (click)="active('clasification')" routerLinkActive="active" routerLink="/log/clasification" class="anchor">Clasificacion</a>
      </li>  
      <li>
      <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
      </li>
    </ul>
  </div>
</nav>
