<app-nav></app-nav>
<div class="container">
    <h1>BIENVENIDOS !!!</h1>
    <br>
    <section id="quienes-somos" class="section">
        <h2>Quiénes Somos</h2>
        <p>Somos una plataforma apasionada por el fútbol, dedicada a proporcionar a los aficionados información actualizada sobre fixtures, posiciones de equipos y tablas de competiciones. Nuestro objetivo es mantenerte al tanto de todo lo relacionado con el mundo del fútbol, desde partidos emocionantes hasta análisis detallados de jugadores y equipos.</p>
    </section>

    <section id="servicios" class="section">
        <h2>Servicios</h2>
        <p>Ofrecemos una amplia gama de servicios para satisfacer las necesidades de los aficionados al fútbol:</p>
        <ul>
            <li>Visualización de fixtures en tiempo real</li>
            <li>Seguimiento de posiciones de equipos en ligas nacionales e internacionales</li>
            <li>Acceso a tablas detalladas de competiciones</li>
            <li>Análisis estadístico de equipos y jugadores</li>
            <li>Actualizaciones de noticias y destacados de partidos</li>
        </ul>
    </section>
    <br>

