<style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    header {
      background-color: rgb(12, 10, 10);
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }
  </style>

<body>

<header>
  <h1>Fixture de Fútbol</h1>
  <p>¡La emoción del fútbol en cada partido!</p>
  <img src="https://t3.ftcdn.net/jpg/06/07/07/80/360_F_607078002_yMGIjR7oCK8fvvR8qD8hZ5EsXK7V8M7I.jpg" alt=""
  style="height: 2000%;">
</header>