<p>header works!</p>

<style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    nav {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }
  </style>

<body>

<header>
  <h1>Fixture de Fútbol</h1>
  <p>¡La emoción del fútbol en cada partido!</p>

  <nav>
    <a href="#inicio">Inicio</a>
    <a href="#equipos">Equipos</a>
    <a href="#calendario">Calendario</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>