<app-nav></app-nav>
<h2>Competencias: </h2>
<br>
<button (click)="moveToAddCompetencies()" mat-raised-button style="background-color: green; color: white; margin-left: 360px;">Crear Competencia</button>
<br>
<br>
<br>
<hr>
<br>

<div class="card-containerCompetitions">
    <div class="card" *ngFor="let competitions of competencias">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Nombre: {{ competitions.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card>
                <mat-card-content>Fecha de Creacion: {{ competitions.fecha_creacion }}</mat-card-content>
                <mat-card-content>Fecha Inicio: {{ competitions.fecha_inicio }}</mat-card-content>
              </mat-card>              
          </mat-card>
    </div>
</div>
<br>
<hr>
<br>