<app-nav></app-nav>
<h2>Competencias: </h2>
<br>
<hr>
<br>
<div class="card-containerCompetitions">
    <div class="card" *ngFor="let competitions of competencias">
            <div class="card-body">
                <h5 class="card-titleCompetitions">Nombre: {{ competitions.nombre }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Fecha de Creacion: {{ competitions.fecha_creacion }}</li>
                <li class="list-group-item">Fecha Inicio: {{ competitions.fecha_inicio }}</li>
            </ul>
    </div>
</div>
<br>
<hr>
<br>