<app-nav></app-nav>
<p>competencia works!</p>

<h2>Competencias : </h2>
        <section class ="Patients">
            <div>
                <table class ="Tabla">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Fecha Baja</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Creación</th>
                        <th>Usuario Responsable</th>
                    </tr>
                            <tr>
                                <th>lol</th>
                                <th>lel</th>
                                <th>lil</th>
                                <th>lal</th>
                                <th><button class="btn btn-outline-warning">*</button></th>
                                <th><button class="btn btn-danger">X</button></th>
                            </tr>
                    </thead>
                </table>
            </div>
        </section>