    <div class="divs">
        <div *ngIf="!spinner">
            <h2>Login</h2>
        </div>

        <div *ngIf="spinner === true">
            <h2>Cargando...</h2>
        </div>

        <mat-spinner *ngIf="spinner === true"></mat-spinner>

        <form [formGroup]="loginForm" *ngIf="!spinner">
            <mat-form-field class="example-full-width">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="nombre" type="text" id="nombre" name="nombre" required>
            </mat-form-field>

            <br>
            
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="contrasenia" type="password" id="contrasenia" name="contrasenia" required>
            </mat-form-field>
            
            <div *ngIf="msgError">
                <p style="color: red;">Nombre o Contraseña incorrecto, vuelva a intentarlo !</p>
              </div>
              <div id="btns">
                <button (click)="moveToRegister()" mat-raised-button style="background-color: green; color: white;">Registrarme</button>
                <button (click)="login()" style="margin: 1rem;" mat-raised-button color="primary">Iniciar Sesión</button>
              </div>
        </form>
    </div>
    <br>