<body>
<h2>Formulario de Registro</h2>
<br>

<div *ngIf="msgError === true">
    <p style="color: green;">Registro realizado efectivamente</p>
</div>

<div *ngIf="msgError === false">
    <p style="color: red;">Registro fallido, vuelva a intentarlo</p>
</div>

<form [formGroup]="registerForm">
<div>
  <label for="nombre">Nombre:</label>
</div>
<input formControlName ="nombre" type="text" id="nombre" name="nombre" required>
<div>
  <label for="apellido">Apellido:</label>
</div>
<input formControlName ="apellido" type="text" id="apellido" name="apellido" required>
<div>
  <label for="email">Email:</label>
</div>
<input formControlName ="mail" type="email" id="email" name="email" required>
<div>
  <label for="contrasena">Contraseña:</label>
</div>
<input formControlName ="contrasenia" type="password" id="contraseña" name="contrasena" required>
<div>
  <label for="fechaCaducidad">Fecha de Caducidad:</label>
</div>
<input formControlName ="fecha_baja" type="date" id="fechaCaducidad" name="fechaCaducidad" required>
<div style="margin-top: 2rem;">
  <button (click)="register()" class="btn btn-primary">Registrarse</button>
</div>
<div style="margin-top: 2rem;">
  <button (click)="moveToLogin()" class="btn btn-primary">Volver</button>
</div>
</form>

</body>