
    body {
        font-family: Arial, sans-serif;
        text-align: center; /* Centra el contenido del cuerpo */
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    form {
        width: 300px; /* Ancho del formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    form div {
        margin-bottom: 10px;
        display: flex;
    }

    label {
        width: 120px; /* Ancho de las etiquetas */
    }

    input {
        width: 250px;
        height: 60%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box; /* Hace que el ancho incluya el relleno y el borde */
    }
