<app-nav></app-nav>
<body>
<h2>Clasificaciones: </h2>
<br>
<hr>
<br>
<div class="card-containerClasifications">
    <div class="card" *ngFor="let cla of clasificacion">
            <div class="card-body">
                <h5 class="card-titleClasifications">Nombre: {{ cla.nombre }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Puntos: {{ cla.puntos }}</li>
                <li class="list-group-item">Partidos ganados: {{ cla.partidosGanados }}</li>
                <li class="list-group-item">Partidos perdidos: {{ cla.partidosPerdidos }}</li>
                <li class="list-group-item">Partidos empatados: {{ cla.partidosEmpatados }}</li>
                <li class="list-group-item">Goles a favor: {{ cla.golesAFavor }}</li>
                <li class="list-group-item">Goles en contra: {{ cla.golesEnContra }}</li>
                <li class="list-group-item">Diferencia de goles: {{ cla.diferencia }}</li>
            </ul>
    </div>
</div>
<br>
<hr>
<br>
</body>
