<app-nav></app-nav>
<h2>Clasificaciones: </h2>
<br>
<hr>
<br>
<div class="card-containerClasifications">
    <div class="card" *ngFor="let cla of clasificacion">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Nombre: {{ cla.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card>
                <mat-card-content style="color: red; font-weight: bold;">Puntos: {{ cla.puntos }}</mat-card-content>
                <mat-card-content>Partidos ganados: {{ cla.partidosGanados }}</mat-card-content>
                <mat-card-content>Partidos perdidos: {{ cla.partidosPerdidos }}</mat-card-content>
                <mat-card-content>Partidos empatados: {{ cla.partidosEmpatados }}</mat-card-content>
                <mat-card-content>Goles a favor: {{ cla.golesAFavor }}</mat-card-content>
                <mat-card-content>Goles en contra: {{ cla.golesEnContra }}</mat-card-content>
                <mat-card-content>Diferencia de goles: {{ cla.diferencia }}</mat-card-content>
              </mat-card>              
          </mat-card>
    </div>
</div>
<br>
<hr>
<br>
