<app-nav></app-nav>
<h2>Equipos: </h2>
<br>
<hr>
<br>
<div class="card-containerTeams">
    <div class="card" *ngFor="let team of equipos">

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Nombre : {{ team.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card>
                <mat-card-content>Colores : {{ team.colores }}</mat-card-content>
                <mat-card-content>Trofeos : {{ team.trofeos }}</mat-card-content>
                <mat-card-content>Fecha baja : {{ team.fecha_baja ? team.fecha_baja : 'S/D' }}</mat-card-content>
              </mat-card>              
          </mat-card>

    </div>
</div>
<br>
<hr>
<br>
