<app-nav></app-nav>
<body>
<h2>Equipos: </h2>
<br>
<hr>
<br>
<div class="card-containerTeams">
    <div class="card" *ngFor="let team of equipos">
            <div class="card-body">
                <h5 class="card-titleTeams">Nombre: {{ team.nombre }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Colores: {{ team.colores }}</li>
                <li class="list-group-item">Trofeos:{{ team.trofeos }}</li>
                <li class="list-group-item">Fecha baja: {{ team.fecha_baja ? team.fecha_baja : 'S/D' }}</li>

            </ul>
    </div>
</div>
<br>
<hr>
<br>
</body>
